@import "../mixins";
@import "../variables";

.carrousel {
	position: relative;
	display: flex;
	color: white;

	&__currentImgIndex {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		background-color: $semiTransparentBC;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding: 10px 10px 20px;
	}

	&__arrow {
		position: absolute;
		background-color: $semiTransparentBC;
		padding: 5px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 5em;

		&:hover {
			cursor: pointer;
			background-color: $semiTransparentBCHover;
		}

		&Left {
			left: 0;
			padding-left: 10px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		&Right {
			right: 0;
			padding-right: 10px;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}

	&__img {
		width: 100%;
		//415px
		height: 26em;
		object-fit: cover;
		border-radius: 25px;
	}
}

@include for-phone-and-tablet {
	.carrousel {
		&__currentImg {
			padding: 5px 5px 10px;
		}

		&__arrow {
			font-size: 2.5em;
			padding: 2.5px;

			&Left {
				padding-left: 5px;
			}

			&Right {
				padding-right: 5px;
			}
		}

		&__img {
			// 255px
			height: 16em;
			border-radius: 10px;
		}
	}
}