@import "../variables";
@import "../mixins";

.collapse {
	$borderRadius: 5px;

	margin: 25px 0;
	flex: 0.47;
	border-top-right-radius: $borderRadius;
	border-top-left-radius: $borderRadius;


	&Open {
		background-color: #f6f6f6;

		.collapse__desc {
			visibility: unset;
			max-height: 1000px;
			padding: 30px 20px 10px;
		}

		.collapse__header__button__title__icon {
			transform: rotate(-180deg);
		}
	}

	&__header {
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;
		color: white;
		background-color: $primaryColor;
		border-radius: $borderRadius;
		font-weight: normal;
		margin: 0;

		&__button {
			display: flex;
			border: none;
			background-color: transparent;
			color: inherit;
			width: 100%;
			margin: 0 20px 0 10px;

			&__title {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 7px 0;
				font-size: 1em;

				&__icon {
					transition: 400ms;
					font-size: 1em;
				}
			}
		}

		&:hover {
			background-color: lighten($primaryColor, 2%);
			cursor: pointer;
		}
	}

	&__desc {
		visibility: hidden;
		overflow: hidden;
		color: $primaryColor;
		transition: 400ms;
		height: auto;
		max-height: 0;
		font-size: 1.5em;
		border: 5px;
		background: #f6f6f6;
		border-bottom-left-radius: $borderRadius;
		border-bottom-right-radius: $borderRadius;


		p {
			margin: 0;
		}
	}
}

@include for-phone-and-tablet {
	.collapse {
		margin: 15px 0;

		&Open {
			.collapse__desc {
				padding: 15px 10px 5px;
			}
		}

		&__header {
			&__button {
				margin: 0 2px 0 5px;

				&__title {
					font-size: 0.55em;

					&__icon {
						font-size: 1.2em;
					}
				}
			}
		}

		&__desc {
			font-size: 0.75em;
		}
	}
}