@import "../variables";
@import "../mixins";

.footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 210px;
	margin: 0 -6%;

	span {
		font-size: 20px;
	}

	&__logo {
		width: 125px;
		height: 40px;
	}
}

@include for-phone-and-tablet {
	.footer {
		//margin: 0 -$phonePaddingX;
	}
}