@import "../variables";
@import "../mixins";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	&__logo {
		height: 100%;
	}

	&__nav {
		&__list {
			padding: 0;
			margin: 0;

			display: flex;
			list-style-type: none;

			&__link {
				margin-left: 55px;

				a {
					font-weight: 500;
					font-size: 1.5em;
					color: $primaryColor;
					text-decoration: none;
				}

				&Active {
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

@include for-phone-and-tablet {
	.header {
		position: relative;
		margin-bottom: 15px;

		&__logo {
			// TODO: utiliser une autre unité que le pixel si possible
			height: 50px;
		}

		&__nav {
			&__list {
				&__link {
					margin-left: 25px;

					a {
						font-size: 0.8em;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}