@import "../variables.scss";
@import "../mixins.scss";

.layout {
	&__page {
		padding: $defaultPaddingY $defaultPaddingX;
		flex: 1 0 auto;
	}
}

@include for-phone-and-tablet {
	.layout {
		&__page {
			padding: $phonePaddingY $phonePaddingX;
		}
	}
}