@import "../variables.scss";
@import "../mixins.scss";

.card {
	// 340px
	$size: 21.25em;
	$darkenColor: darken($primaryColor, 5%);
	$mostDarkenColor: darken($primaryColor, 100%);

	position: relative;
	width: $size;
	height: $size;
	border-radius: 10px;
	background: linear-gradient(to top,
		rgba($mostDarkenColor, 1) -50%,
		rgba($primaryColor, 1) 50%,
		rgba($darkenColor, 1) 140%);
	color: white;
	margin: 30px;

	display: flex;
	align-items: flex-end;
	overflow: hidden;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__name {
		margin: 0;
		padding: 15px;
		border-top-right-radius: 10px;

		background-color: $semiTransparentBC;
		position: absolute;
		font-size: 1.125em;
		font-weight: normal;
		max-width: 50%;
	}
}

@include for-phone-and-tablet {
	.card {
		margin: 15px 0;
	}
}