@import "../variables.scss";
@import "../mixins.scss";

.card {
	position: relative;
	border-radius: 10px;
	background-image: $defaultBackground;
	background-size: cover;
	color: white;
	margin: 30px;

	display: flex;
	align-items: flex-end;
	overflow: hidden;

	&__img {
		object-fit: cover;
	}

	&__name {
		margin: 0;
		padding: 15px;
		border-top-right-radius: 10px;

		background-color: $semiTransparentBC;
		position: absolute;
		font-size: 1.125em;
		font-weight: normal;
		max-width: 50%;
	}
}

@include for-phone-and-tablet {
	.card {
		margin: 15px 0;
	}
}