@import '../variables.scss';
@import '../mixins.scss';

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-top: 5px;

	background-color: $primaryColor;
	border-radius: 10px;
	color: white;
	padding: 0 20px;
	min-width: 75px;
	height: 25px;

	&__text {
		font-size: 14px;
	}
}

@include for-phone-and-tablet {
	.tag {
		height: 18px;
		border-radius: 5px;
		padding: 0 10px;
		min-width: 50px;

		&__text {
			font-size: 10px;
		}
	}
}