@import '../variables.scss';
@import '../mixins.scss';

.tag {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	margin-top: 5px;

	background-color: $primaryColor;
	border-radius: 10px;
	color: white;
	padding: 0 20px;
	// 75px
	min-width: 4.688em;
	// 25px
	height: 1.562em;

	&__text {
		font-size: 0.9em;
	}
}

@include for-phone-and-tablet {
	.tag {
		height: 1.125em;
		border-radius: 5px;
		padding: 0 10px;
		// 50px
		min-width: 3.125em;

		&__text {
			font-size: 0.65em;
		}
	}
}