@import "variables";

.card {
  $size: 340px;
  width: $size;
  height: $size;
  border-radius: 10px;
  $secondaryColor: darken($primaryColor, 50%);
  background: linear-gradient(to top,
          rgba($secondaryColor, 1),
          rgba($primaryColor, 1),
          rgba($secondaryColor, 1));
  color: white;
  padding: 15px;

  display: flex;
  align-items: flex-end;

  &__name {
    margin: 0;
    font-size: 18px;
    width: 150px;
  }
}