@import "../mixins";

.apropos {

	// Temporaire
	&__banner {
		&__img {
			background-image: url("../../images/aproposBanner.jpg");
		}
	}

	&__infos {
		padding: 20px 100px;
	}
}

@include for-phone-and-tablet {
	.apropos {
		&__infos {
			padding: 0;
		}
	}
}