@import "../mixins";

.apropos {
	display: flex;
	flex-direction: column;

	&__banner {
		&__img {
			background-image: url("../../images/aproposBanner.webp");
			// La taille est spécifiée en dure parce que cette bannière n'a pas de texte
			height: 223px;
		}
	}

	&__infos {
		padding: 20px 100px;
	}
}

@include for-phone-and-tablet {
	.apropos {
		&__infos {
			padding: 0;
		}
	}
}