@import "../variables.scss";
@import "../mixins.scss";

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $primaryColor;
	margin-top: 150px;
	padding-bottom: 210px;

	&__infos {
		display: flex;
		flex-direction: column;
		text-align: center;

		&__title {
			font-weight: bold;
			font-size: 18.15em;
			margin: 0;
		}

		&__subtitle {
			font-weight: 500;
			font-size: 1.64em;
			margin: 0;
		}
	}

	&__link {
		color: $primaryColor;
		font-size: 1.125em;
		margin-top: 150px;
		margin-bottom: 125px;
	}
}

@include for-phone-and-tablet {
	.error {
		&__infos {
			&__title {
				font-size: 6em;
			}

			&__subtitle {
				font-size: 1.125em;
			}
		}

		&__link {
			font-size: 0.9em;
		}
	}
}