@import "../variables.scss";
@import "../mixins.scss";

.ficheLogement {
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 25px;

		&__titleLocationAndTags {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			color: $primaryColor;

			&__titleAndLocation {
				display: flex;
				flex-direction: column;

				h1 {
					margin: 0;
					// 36px
					font-size: 2.25em;
					font-weight: 500;
				}

				span {
					margin-top: 5px;
					// 18px
					font-size: 1.125em;
					font-weight: 500;
				}
			}

			&__tags {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&__avatarAndRating {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			align-items: flex-end;
		}
	}

	&__infos {
		display: flex;
		justify-content: space-between;
	}
}

@include for-phone-and-tablet {
	.ficheLogement {
		&__header {
			flex-direction: column;
			// 125px
			min-height: 7.81em;
			height: auto;

			&__titleLocationAndTags {
				// 75px
				min-height: 4.7em;

				&__titleAndLocation {
					h1 {
						font-size: 1.125em;
					}

					span {
						font-size: 0.9em;
					}
				}

				&__tags {
					margin-top: 5px;
				}
			}

			&__avatarAndRating {
				flex-direction: row-reverse;
				align-items: center;
				margin-top: 20px;
			}
		}

		&__infos {
			margin-top: 5px;
			flex-direction: column;
		}
	}
}