@import "../variables.scss";

.ficheLogement {
	&__header {
		margin-top: 25px;

		&__TLH {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			color: $primaryColor;

			&__titleAndLocation {
				display: flex;
				flex-direction: column;

				h1 {
					margin: 0;
					font-size: 36px;
					font-weight: 500;
				}

				span {
					margin-top: 5px;
					font-size: 18px;
					font-weight: 500;
				}
			}
		}

		&__tagAndStars {
			margin-top: 20px;

			&__tags {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}
}