@import "../mixins.scss";

.home {
	margin-top: 50px;

	&__banner {
		&__img {
			background-image: url("../../images/homeBanner.jpg");
		}

		&__title {
			margin: 0;
			padding: 0;
			font-size: unset;
			font-weight: unset;
		}
	}

	&__locationCards {
		display: flex;
		flex-wrap: wrap;
		margin-top: 100px;
		background-color: #f6f6f6;
		border-radius: 25px;
		justify-content: space-around;
	}
}

@include for-phone-and-tablet {
	.home {
		&__locationCards {
			margin-top: 0;
		}
	}
}